.swiperButtonNext {
    position: absolute;
    bottom: 10px;
    right: 20px;
    height: 40px;
    width: 40px;
    background: #ffffff;
    background: $button-gradient-next;
    font-size: 12px;
    z-index: 15;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset -1px -1px 0px 1px rgba(0, 0, 0, 0.05), 1px 1px 0 2px rgba(0, 0, 0, 0.1);
    text-align: center;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    &:hover {
        transform: scale(1.1);
        transition: 0.3s ease all;
        box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.2);

    }

    svg {
        width: 30px;
        height: 30px;
        color: rgb(255, 255, 255);
        filter: drop-shadow(0 2px 1px rgba(189, 71, 235, 0.7));
        transform: translateX(5%);

    }

    @media (max-width: 768px) {
        top: 20px;

    }
}

.swiperButtonPrev {
    position: absolute;
    bottom: 10px;
    right: 70px;
    height: 40px;
    width: 40px;
    background: #ffffff;
    background: $button-gradient-prev;
    font-size: 12px;
    z-index: 15;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset -1px -1px 0px 1px rgba(0, 0, 0, 0.05), 1px 1px 0 2px rgba(0, 0, 0, 0.1);
    text-align: center;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    &:hover {
        transform: scale(1.1);
        transition: 0.3s ease all;
        box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.2);

    }

    svg {
        width: 30px;
        height: 30px;
        color: rgb(255, 255, 255);
        filter: drop-shadow(0 2px 1px rgba(189, 71, 235, 0.7));
        transform: translateX(-5%);

    }

    @media (max-width: 768px) {
        top: 20px;

    }
}


.swiperButtonNextProduct {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
    height: 40px;
    width: 40px;
    font-size: 12px;
    z-index: 500;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    &:hover {
        transform: scale(1.1);
        transition: 0.3s ease all;
        box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.2);

    }

    svg {
        width: 35px;
        height: 35px;
        color: rgb(255, 255, 255);
        filter: drop-shadow(0 2px 1px rgba(189, 71, 235, 0.7));
        transform: translateX(5%);

    }

  
}

.swiperButtonPrevProduct {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
    height: 40px;
    width: 40px;
    font-size: 12px;
    z-index: 500;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    &:hover {
        transform: scale(1.1);
        transition: 0.3s ease all;
        box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.2);

    }

    svg {
        width: 35px;
        height: 35px;
        color: rgb(255, 255, 255);
        filter: drop-shadow(0 2px 1px rgba(189, 71, 235, 0.7));
        transform: translateX(-5%);

    }

}


.slideCardRight {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1%;
    height: 40px;
    width: 40px;
    font-size: 12px;
    z-index: 500;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
    &:hover {
        transition: 0.3s ease all;
        box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.2);

    }
    svg {
        width: 35px;
        height: 35px;
        color: rgb(255, 255, 255);
        filter: drop-shadow(0 2px 1px rgba(189, 71, 235, 0.7));
        transform: translateX(5%);

    }

  
}

.slideCardLeft {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1%;
    height: 40px;
    width: 40px;
    font-size: 12px;
    z-index: 500;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
    &:hover {
        transition: 0.3s ease all;
        box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.2);

    }

    svg {
        width: 35px;
        height: 35px;
        color: rgb(255, 255, 255);
        filter: drop-shadow(0 2px 1px rgba(189, 71, 235, 0.7));
        transform: translateX(-5%);

    }

}


.gradient-text{
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
}

.unselectable {
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

@keyframes topToBottom {
    0% {
        transform: translateY(0%);

    }

    50% {
        transform: translateY(10%);

    }

    100% {
        transform: translateY(0%);


    }
}


.shiny-element {
    background: linear-gradient(125deg, #eee 25%, #dddddd 50%, #eee 75%) rgb(165, 165, 165);
    animation: shine-right 8s infinite forwards;
    background-size: 300% 100%;
}


//animations
@keyframes shine-right {
    0% {
        background-position: 0%;
    }

    50% {
        background-position: 250%;
    }

    100% {
        background-position: 0%;

    }
}