@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 133%;
 
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(160deg, rgb(157, 147, 250), rgb(110, 97, 231));
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:active {
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-track {
  background: rgb(175, 166, 255);
  border: 0px none #ffffff;
  border-radius: 8px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

@media screen and (max-width: 768px) {

  * {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:focus {
      outline: none !important;
    }
  }
}