@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin ellipsisLine ($line:2) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
  overflow: hidden;
}


@mixin container {
  width: 100%;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: auto;
  margin-left: auto;

  // Small screen sizes
  @media (max-width: 639.98px) {
    max-width: 540px;
    padding-right: 0rem;
    padding-left: 0rem;
  }

  // Medium screen sizes
  @media (min-width: 640px) and (max-width: 767.98px) {
    max-width: 720px;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  // Large screen sizes
  @media (min-width: 768px) and (max-width: 1023.98px) {
    max-width: 960px;
    padding-right: 0.8rem;
    padding-left: 0.8rem;
  }

  // Extra large screen sizes
  @media (min-width: 1024px) and (max-width: 1279.98px) {
    max-width: 1140px;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  // Extra extra large screen sizes
  @media (min-width: 1280px) and (max-width: 1535.98px) {
    max-width: 1280px;
  }
  // Extra extra extra large screen sizes
  @media (min-width: 1536px){
    max-width: 1480px;
  }
}